<div class="container">

    <div class="charts">
      <div class="pie" [chart]="donutChart"></div>
      <div class="line" [chart]="lineChart"></div>
    </div>
  
    <div class="requests">
  
      <div class="newuser">
  
          <h2>New Users</h2>
  
          <ol>
              <li>marwa@gmail.com</li>
              <li>wejden@gmail.com</li>
              <li>haifa@gmail.com</li>
              <li>Mohammed@gmail.com</li>
              <li>firasss@gmail.com</li>
          </ol>
      </div>
  
  
      <div class="approval">
  
          <h2>ROLE</h2>
  
          <div class="approval-item">
              <span>ADMIN</span>
            </div>
            <div class="approval-item">
                <span>ADMIN</span>
            </div>
            <div class="approval-item">
                    <span>PATIENT</span>
                </div>
                    <div class="approval-item">
                        <span>DOCTOR</span>
          </div>
          <div class="approval-item">
              <span>ADMIN</span>
              
          </div>
         
         
  
      </div>
  
    </div>
  </div>